body {
 font-family: 'Arial' ; /* */
 -webkit-transition: all 0.4s linear;
}

#tgl{
    font-size: 2em;
    color: #FFF;
    -webkit-transition: all 0.6s linear;
    transition-duration: .3s;
    
  }
/* Cabecera y título*/
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    padding-top: 25px;
    padding-bottom: 25px;
}
.header-item{
    width: 33%;
    
}


.titulo {
    font-size: 30px;
    color: grey;
    margin-left: 3%;
}   

.titulo.nocturno{
    color: white;
}
/*#cabecera {
    width: 100%;
    height: 70px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
    
}*/
.cabecera {

    width: 100%;
    height: 70px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
}

.c1:hover,.c2:hover,.c3:hover {
    cursor: pointer;
}
.c1,.c2,.c3 {

   
    width: 33.3%;    
    text-align: center;
    vertical-align: middle;
    
}
#recuadro {
    width: 100%;
   
    
}

#bcabecera,#bcabecera2,#bcabecera3   {
    background-color: none;
    border: none;
    color: grey;
}

.table {
    height: 50%;
    width: 100%;
}
#mid-container {
  width: 98%; 
  justify-content: center;
}

/*Características de las diferentes tipos de tablas que nos encontramos*/

.okey{
    background-color: #06a128;
    color: white;
}

.nokey{
    background-color: #DA1414;
    color: white;
}

.averia{
    background-color:#fd9800;
    color: white;
}

/* Buttons */
.button-style {
    box-shadow: 0 2px #999; 
    border-radius: 1; 
    background-color: #249ce7; 
    color: white; 
    outline: none;

}

.button-style:hover {
    background-color: #1c7cb8;
    color: white;
}

.btn1.nocturno,.btn2.nocturno,.btn3.nocturno{
    color: white;
}

#navegador{
    color: black;
}
#navegador.nocturno{color: white;}

.titulotabla.nocturno{
    background-color: whitesmoke;
    
}

/* Gestión de vuelos*/
.tabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tablas{
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    width: 100%;
}

/*Propiedades de ambas tablas*/
#tablavuelos{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    padding-bottom: 10px;
}

#coches{
    padding-bottom: 10px;
}

/*Añadir*/

#hiden{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 5px;
}

#hiden2{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 5px;
}

.inpts{
    padding-right: 5px;
    padding-left: 5px;
}

.inpts2{
    padding-right: 5px;
    padding-left: 5px;
}

.inps.nocturno{
    color: whitesmoke;

}

.txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    width: 100%;
}

.txt input{
    width: 70%;
}

#btnhiden{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#btnhiden2{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#btnhiden button{
    width: 100%;
}

#btnhiden2 button{
    width: 100%;
}

/*Botones de añadir y modificar*/

.botones{
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    margin: 10px;
}

.orden{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}