
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#anadir{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#eliminar{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    width: 100%;
}

.inpts{
    width: 70%;
}

.inpts2{
    width: 70%;
}

#botones{
    display: flex;
    flex-direction: row;
}