#login {
    border: grey solid 2px;
    position: relative;
    margin-top: 10%;
    margin-left: 35%;
    width: 25%;
}

p {
    color: grey;
}
h1 {
    font-size: 25px;
    margin-top: 10%;
    text-align: center;
    margin-bottom: 10%;
}

td {
    padding-left: 20%;
}

.formulario {
    outline:none;
    padding-left: 10px;
    width: 70%;
    text-align: left center;
    border: grey solid;
    border-radius: 20px;
    margin-bottom: 10%;
}

#boton {
    margin-bottom: 10%;
    margin-left: 22%;
    background-color: white;
    border: grey solid 1.5px;
    color: grey;
}